body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* border: 1px solid magenta; */
    margin: 0px;
    padding: 5%;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    /* border: 1px solid green; */
}

header,
section {
    padding: 1%;
}

header {
    display: flex;
    align-self: stretch;
    /* min-height: 100%; */
    /* border: 1px solid blue; */
}

header>h1 {
    margin: 0px;
    /* border: 1px solid gold; */
    font-size: 3em;
}

section {
    /* border: 1px solid brown; */
    border-left: 1px solid black;
    font-size: 2em;
}

section>p:first-child {
    margin-top: 0px;
}

section>p:last-child {
    margin-bottom: 0px;
}

/* Icons */
.icons-list {
    display: flex;
    margin: 0;
    padding: 0;
    /* border: 2px solid pink; */
}

.icons-list>li {
    display: flex;
    align-items: center;
    /* border: 2px solid lime; */
}

.icons-list>li>svg {
    padding: 1px;
}

.home-button-wrapper {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

.home-button {
    background: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.6em;
}

.home-button>a {
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}

.home-button>a:hover {
    color: darkred;
}

@media (max-aspect-ratio: 2/3) {
    .page {
        flex-direction: column;
        /* max-width: 90%; */
    }

    section {
        border-left: none;
        border-top: 1px solid black;
        font-size: 1.2em;
    }

}