a:hover {
    color: darkred;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* border: 1px solid magenta; */
    box-sizing: border-box;
    margin: 0px;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    /* border: 1px solid green; */
}

.column-1,
.column-2 {
    width: 50%;
}

.column-1 {
    padding: 5px;
    /* border: 1px solid pink; */
}

nav {
    display: flex;
    justify-content: right;
    /* border: 1px solid red; */
}

nav>ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    /* border: 1px solid chartreuse; */
}

nav>ul>li {
    display: flex;
    padding: 5px;
    border-right: 1px solid black;
    font-size: 1.5em;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
}

header {
    text-align: right;
    /* border: 1px solid blue; */
}

header>h1 {
    margin-top: 0px;
    margin-bottom: 5%;
    font-size: 5em;
    line-height: 0.8;
}

.about {
    padding-left: 10%;
    text-align: right;
    font-size: 1.5em;
}

.column-2 {
    display: flex;
    /* border: 1px solid brown; */
}

.profile {
    width: 100%;
    /* height: 100%; */
}

@media (max-aspect-ratio: 2/3) {
    body {
        padding: 10% 0%;
    }
    .page {
        flex-direction: column;
        max-width: 90%;
    }

    nav>ul {
        overflow: scroll;
    }

    nav>ul>li {
        font-size: 1em;
    }

    header>h1 {
        font-size: 4em;
    }

    .column-1,
    .column-2 {
        width: 100%;
    }

    .column-1 {
        padding: 0px;
    }

    .about {
        font-size: 1.2em;
    }
}