body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: 1px solid magenta;
    box-sizing: border-box;
    margin: 0px;
}

.page {
    display: flex;
    align-items: center;
    max-width: 800px;
    border: 1px solid green;
}

.column-1,
.column-2 {
    width: 50%;
}

.column-1 {
    padding: 5px;
    border: 1px solid pink;
}

nav {
    display: flex;
    justify-content: right;
    border: 1px solid red;
}

nav>ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    border: 1px solid chartreuse;
}

nav>ul>li {
    display: flex;
    padding: 5px;
    border-right: 1px solid black;
    font-size: 1.5em;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
}

header {
    text-align: right;
    border: 1px solid blue;
}

header>h1 {
    margin-top: 0px;
    margin-bottom: 5%;
    font-size: 5em;
    line-height: 0.8;
}

.about {
    padding-left: 10%;
    text-align: right;
    font-size: 1.5em;
}

.column-2 {
    display: flex;
    /* width: 100%; */
    border: 1px solid brown;
}

.profile {
    width: 100%;
}

@media (max-aspect-ratio: 2/3) {
    .page {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .column-1,
    .column-2 {
        width: 80%;
    }
}